<section class="content-flex">

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>ZMS et Ionic</mat-card-title>
            <mat-card-subtitle>Création d'une application mobile</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Dans le cadre du stage de fin d'année de BAC+2 j'ai eu pour mission de rédiger un tutoriel sur
                l'utilisation
                du langage de programmation ZMS et l'utilisateur des services de ZetaPush. Le tutoriel présente comment
                utiliser les services en réalisant une application mobile avec Ionic.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="zms-ionic">Afficher</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Custom Input Time Directive</mat-card-title>
            <mat-card-subtitle>Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Je développe actuellement un Agenda de type Google Agenda. Proposant presque toutes les fonctionnalités
                du
                dit agenda.

                Lorsque j'ai voulus ajouter le support des heures à l'ajout de rendez-vous je me suis retrouvé face au
                problème du champ de type heure et minute.

                Ne disposant pas d'un champ de type heure / minute adapté à mes besoins, j'ai décidé de mettre en place
                une
                directive sous Angular afin de palier à ce problème.

                Cette directive a pour but de formater un champ de type texte au format : `HH:MM` et de vérifier la
                saisie
                utilisateur.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="ngx-input-time-directive">Afficher</button>
        </mat-card-actions>
    </mat-card>
</section>