<section class="content">

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Custom Input Time Directive</mat-card-title>
            <mat-card-subtitle>Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <p>
                Je développe actuellement un Agenda de type Google Agenda. Proposant presque toutes les fonctionnalités du dit agenda.

Ne disposant pas d'un champ de type heure / minute adapté à mes besoins, j'ai décidé de mettre en place une directive sous Angular afin de palier à ce problème.

Cette directive a pour but de formater un champ de type texte au format : `HH:MM` et de vérifier la saisie utilisateur.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="primary" routerLink="ngx-input-time-directive">Lire la suite...</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>ZMS et Ionic</mat-card-title>
            <mat-card-subtitle>Création d'une application mobile</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <p>
                Dans le cadre du stage de fin d'année de BAC+2 j'ai eu pour mission de rédiger un tutoriel sur
                l'utilisation
                du langage de programmation ZMS et l'utilisateur des services de ZetaPush. Le tutoriel présente comment
                utiliser les services en réalisant une application mobile avec Ionic.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="primary" routerLink="zms-ionic">Lire la suite...</a>
        </mat-card-actions>
    </mat-card>

</section>