<footer>
    <hr>
    <a href="https://github.com/high54/angular-x-starter" rel="noopener noreferrer" mat-button target="_blank">
        powered by Angular X
        Starter.</a>
    <div class="social">
        <a href="https://github.com/high54" rel="noopener noreferrer" mat-button class="footer-contact" target="_blank">
            <em class="fab fa-github-square"></em>
        </a> <a href="https://www.linkedin.com/in/julien-bertacco/" rel="noopener noreferrer" mat-button
            class="footer-contact" target="_blank">
            <em class="fab fa-linkedin"></em>
        </a> <a href="https://twitter.com/BertaccoJulien" rel="noopener noreferrer" mat-button class="footer-contact"
            target="_blank">
            <em class="fab fa-twitter-square"></em>
        </a>
    </div>
</footer>