<section id="landing-header">
    <section id="landing-titles">
        <ul>
            <li class="c4">
                Software Engineer
            </li>
            <li class="c3">
                Tech lead Front End
            </li>
            <li class="c2">
                Web Mobile Specialist
            </li>
            <li class="c1">
                Entrepreneur
            </li>
        </ul>
    </section>
    <section id="landing-photo">
        <img src="assets/imgs/IMG_20200420_000644.png">
    </section>
</section>
<div class="center">
    <p>
       Bonjour ! Moi, c'est Julien. Bienvenue sur mon portfolio, il va vous permettre dans savoir un peu plus sur moi et mon parcours.
    </p>
</div>