<section id="landing-header">
    <section id="landing-titles">
        <ul>
            <li class="c4">
                Software Engineer
            </li>
            <li class="c3">
                Tech lead Front End
            </li>
            <li class="c2">
                Web Mobile Specialist
            </li>
            <li class="c1">
                Entrepreneur
            </li>
        </ul>
    </section>
    <section id="landing-photo">
        <img src="assets/imgs/photo.png" width="125px" height="215px" alt="Ma Photo !" title="Photo de présentation">
    </section>
</section>
<div class="center">
    <p>
        Bonjour ! Moi, c'est Julien. Bienvenue sur mon portfolio, il va vous permettre dans savoir un peu plus sur moi
        et mon parcours.
    </p>
    <p>
        Vous pouvez consulter les sections présente dans le menu à gauche. N'hésitez pas à m'envoyer un message !
    </p>
</div>