<section id="video" *ngIf="playlist">
    <aside id="playlist">
        <mat-selection-list [multiple]="false" role="list">
            <mat-list-option role="listitem" [selected]="video.id === selectedVideo.id"
                *ngFor="let video of playlist.videos; let i =index" (click)="selectVideo(video)">
                {{ i+1 }} - {{ video.title}}
            </mat-list-option>
        </mat-selection-list>

    </aside>
    <div id="video-display">
        <article *ngIf="selectedVideo.type ==='video'">
            <iframe width="100%" style="border: none;" [title]="selectedVideo.title" height="450"
                [src]="getUrl(selectedVideo.link)"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </article>

        <article *ngIf="selectedVideo.type === 'stackblitz'">
            <object style="width: 100%; height: 60vh; margin: 0; float: none; clear: both;"
                [attr.data]="getUrl(selectedVideo.link)">
                Stackblitz, code source et démonstration
            </object>
        </article>
    </div>
</section>