<section class="content-flex">
    <mat-card class="card" *ngFor="let playlist of playlists$ | async" (click)="redirect(playlist)">
        <mat-card-header>
            <mat-card-title>{{ playlist.title }}</mat-card-title>
            <mat-card-subtitle>{{ playlist.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="playlist.img" [attr.alt]="playlist.title">
        <mat-card-content>
            <p>
                {{ playlist.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button *ngIf="canShare()" (click)="share($event,playlist)">Partager</button>
        </mat-card-actions>
    </mat-card>

</section>