#contact {
    padding-top:0;
    width: 60%;
    margin: auto;
}
@media (min-width: 320px) and (max-width: 1024px) {
    #contact {
        width: 100%;
    }
}
#contact-content {
    display: grid;
    grid-template-areas:
    "form map";
    padding-top:0;
    grid-template-columns: 40% 60%;
}
#contact-form {
    text-align: center;
    grid-area: form;
    padding-top:0;
}
#contact-map {
    grid-area: map;
    padding-top:0;
}
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}
.mid-width {
    width: 48%;
}
.mr-left{
    margin-left: 4%;
}
.actions .mat-button-base {
    margin: 8px 8px 8px 0;
}
@media (min-width: 320px) and (max-width: 1024px) {

    #contact-content {
        display: grid;
        grid-template-areas:
        "form"
        "map";
        grid-template-columns: 100%;

    }
}