#contact-form {
    text-align: center;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.full-width {
    width: 100%;
}
.actions .mat-button-base {
    margin: 8px 8px 8px 0;
}